<% if (user){ %>
    <div id="LoginStatus">
        <span>Logged in as</span>
        <span class="userName">
            <%- user.name %>
        </span>
        <a href='/logout'>Logout</a>
    </div>
<% } %>
<h1>Snow Melt Controller</h1>