<!doctype html>

<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Snow Melt Controller</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<div class="container">
		<% include ../views/partials/header %>
		<div class="statusHeader">Heater status</div>
		<div id="HeaterInputControls">
			<input id="HeaterSwitch" type="checkbox" class="none" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
			<form id='LoginForm' class="form-signin">
				<label for="TimeLimitInput" class="sr-only">Run for</label>
				<input name="timelimit" type="number" id="TimeLimitInput" class="form-control" value="60">
				<span>minutes</span>
			</form>
		</div>
		
	</div>
	<!--Jquery needed by bootstrap unfortunately...-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<script src="/static/js/index.js"></script>
	<script>

		window.SnowMeltController = {};
		SnowMeltController.HeaterStatus = <%- JSON.stringify(heaterStatusObj) %>;

	</script>
</body>
</html>